@import "node_modules/normalize.css";


$textColor: #b5838d;
$backgroundLogo: #6d597a;
$backgroundFirst: #b5838d;
$backgroundText: white;
$background: #e56b6f;
$font: 'Pacifico', cursive;


body{
    background-color: $background;
    margin: 0;
    font-family: $font;
    
}

.menu{
    color: $textColor;
    // width: 250px;
    margin: 0;
    ul{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        width: 250px;
        padding-left: 0;
        margin-top: 0;
       
        li{
                width: 100%;
                
                display: flex;
                flex-wrap: wrap;
                p{
                    width: 70%;
                    height: 100%;
                    margin: 0;
                    font-size: 35px;;
                    text-align: center;
                    vertical-align: middle;
                    background-color: $backgroundText;
                    transform: translateX(-200%);
                    opacity: 0;
                    

                    
                }
                a{
                    
                    width: 30%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 80px;
                    img{
                        width: 80%;
                        display: block;
                    
                        
                    
                    }   
                    &:hover + p{
                        display: inline-block;
                        transform: translateX(0%);
                        transition: 1s ease-in-out;
                        opacity: 1;
                        
                        
              
                        
                        
                        
                    }
                }
                .first{
                    background-color: $backgroundFirst;
                    transition: 1.5s;
                    &:hover{
                        background-color: white;

              

              
                    }
                }
                .logo{
                    background-color: $backgroundLogo;
                    transition: 1.5s;
                    &:hover{
                        background-color: white;
                        
                    }
                }
     
            }
    }     
}



    



